@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sec {
    background-color: #7a7a7a;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #c4c4c4;
    width: 530px;
    height: 250px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid black;
    font-weight: bold;
}

.h1 {
    color: black;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input-container label {
    margin-right: 10px;
}

.botao {
    border: none;
    color: #4CAF50;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.botao-add {
    background-color: black;
}

.botao-add:hover {
    background-color: transparent;
    transition: 0.5s;
    border: 2px solid black;
}