* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d6fcff;
    height: 100vh;
    width: 100vw;
}

.caixa-maior {
    background-color: rgb(83, 110, 110);
    width: 95%;
    max-width: 45rem;
    opacity: 0.8;
    padding: 1.25rem;
    border-radius: 1.563rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.titulo {
    text-transform: uppercase;
    opacity: 0.8;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.input-cidade, .pesquisar {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #06e2ff46;
    width: calc(100% - 100px);
}

.pesquisar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    background-color: black;
    color:  rgb(83, 110, 110);
}

.pesquisar:active {
    background-color: brown;
    opacity: 0.6;
}

.caixa-menor {
    color: black;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cidade, .temp, .descricao, .umidade {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.img {
    width: 4rem;
    border-radius: 1rem;
    margin-bottom: 0.89rem;
}

#icon {
    width: 9rem;
}