@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #313100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa {
    background-color: #8a8a1f;
    border: 5px solid #314202;
    border-radius: 40px;
    width: 600px;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #222200;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

.h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #222200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

#idade-mae, #idade-primeiro, #idade-segundo {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #314202;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.botao {
    background-color: #314202;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;;
}

.botao-calcular {
    background-color: #4CAF50;
    margin-right: 20px;
}

.botao-limpar {
    background-color: #f44336;
    margin-left: 20px;
}

.botao-calcular:hover {
    background-color: #45a049;
    transition: 1s;
}

.botao-limpar:hover {
    background-color: #d32f2f;
    transition: 1s;
}