@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caixa {
    width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #dadada;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 600;
}

.text {
    text-align: center;
    border-bottom: 2px solid #adadad;
    margin-bottom: 30px;
}