* {
    background-color: burlywood;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    color: black;
	text-align: center;
}

.sec-perfil {   
    text-align: center;
}

.foto-perfil {
    margin: 1rem;
    width: 10rem;
    border: #744b1d, solid;
    border-radius: 10rem;
}

.sec-nome {
    margin: 0 0 2rem 0;
}

.nome {
    font-size: 3rem;
}

.cargo, .atividade {
    font-size: 1rem;
    margin: 0 0 0.85rem;
}

.sec-btn {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.btn-link {
    background: #744b1d;
    border: none;
    border-radius: 1.28rem;
    cursor: pointer;
    display: block;
    font-size: 2.5rem;
    height: 4rem;
    width: 20rem;
    margin: 2rem 15%;
    text-align: center;
    text-decoration: none;
}

.btn-link:hover {
    background: #b1732b;
}

.btn-link:active {
    opacity: 15%;
    transition: 0.2s;
}

.rodape {
    font-size: 2rem;
    margin: 5rem 0 0 0.85rem 0;
    padding-top: 5rem;
    text-align: center;
}

