@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-maior {
    width: 45vw;
    min-height: 65vh;
    background: #383939;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid #38c957;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #38c958;
}

#caixa-menor {
    background: rgba(128, 128, 128, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid #38c958;
}

.conversor-inputs {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.conversor-inputs label {
    color: white;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
    padding: 5px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
}

#celsius, #fahrenheit, #kelvin {
    width: 100%;
    padding: 5px;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.button {
    width: 100%;
    padding: 10px;
    background: #38c958;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #38c958;
    color: #38c958;
    transition: 0.5s;
}